
body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

h1 {
    color: white;
    margin-bottom: 10px;
}

#board {
    width: 750px;
    height: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: rgb(202, 202, 202);

    display: flex; 
    flex-wrap: wrap; 

}

#current-score {
    color: greenyellow
}

.cell {
    width: 25px;
    height: 25px;
}

@media (max-height: 850px) {
    .cell {
        width: 20px;
        height: 20px;
    }

    #board {
        width: 600px;
        height: 600px;
    }
}